@import "_common-style";
@import "_menu-mobile";



.wrapper {}

.conteiner {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
    position: relative;

    @media screen and (max-width: 500px) {
        padding: 0 10px;
    }
}



.first-screen {
    min-height: 100vh;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% 10%;
    padding: 30px 0;

    @media screen and (max-width: 1500px) {
        background-position: 60% 10%;
    }

    @media screen and (max-width: 1000px) {
        background-position: 40% 10%;
    }

    @media screen and (max-width: 760px) {
        background-position: 30% 10%;
    }



    &__body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    &__tittle-wrapp {
        margin-top: 20vh;
        width: 446px;

        @media screen and (max-width: 750px) {
            text-align: center;
            width: 90%;
            margin: 20vh auto;
        }

        @media screen and (max-width: 400px) {
            text-align: center;
            width: 100%;
            margin: 20vh auto;
        }
    }

    &__tittle {
        font-family: $font-one;
        font-size: $font-size-1900-h1;
        line-height: 57px;
        font-weight: 400;
        letter-spacing: 0.06em;
        color: #ffffff;
        margin-bottom: 45px;
    }

    &__subtittle {
        font-family: $font-two-normal;
        font-size: $font-size-text;
        line-height: 24px;
        font-weight: 400;
        color: #cdcdcd;
        margin-bottom: 45px;
    }

    &__button {
        width: 205px;
        text-align: center;
        padding: 21px 0;
        background-color: $primary-color;
        border-radius: 26px;
        cursor: pointer;

        @media screen and (max-width: 750px) {
            margin: 0 auto;
        }
    }

    &__button-link {
        font-family: $font-one;
        font-size: $font-size-button;
        font-weight: 400;
        letter-spacing: 0.06em;
        color: #292929;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 750px) {
        display: none;
    }

    &__logo-wrapp {}

    &__logo-tittle {
        font-family: $font-one;
        font-size: 45px;
        font-weight: 400;
        letter-spacing: 0.06em;
        color: #f1cdb3;

        @media screen and (max-width: 1400px) {
            font-size: 30px;
        }

        @media screen and (max-width: 1000px) {
            font-size: 27px;
        }
    }

    &__logo-subtittle {
        font-family: $font-two-normal;
        font-size: 20px;
        line-height: 29px;
        font-weight: 400;
        letter-spacing: 0.1em;
        color: #ffffff;

        @media screen and (max-width: 1400px) {
            font-size: 13px;
        }

        @media screen and (max-width: 1000px) {
            font-size: 12px;
        }
    }

    &__nav-wrapp {}

    &__nav-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav-item {
        margin-right: 40px;
    }

    &__nav-item:last-child {
        margin-right: 0;
    }


    &__nav-link {
        position: relative;
        font-size: 20px;
        font-family: $font-two-normal;
        line-height: 29px;
        font-weight: 400;
        color: #cdcdcd;

        @media screen and (max-width: 1400px) {
            font-size: 18px;
        }

        @media screen and (max-width: 1000px) {
            font-size: 15px;
        }

        &::after {
            display: block;
            position: absolute;
            left: 0;
            width: 0;
            height: 2px;
            background-color: #f1cdb3;
            content: "";
            transition: width 0.3s ease-out;
        }
    }

}

a:hover:after,
a:focus:after {
    width: 100%;
}