@charset "UTF-8";
@font-face {
  font-family: 'Georgia';
  src: url("../fonts/Georgia/georgia.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArialMTRegula';
  src: url("../fonts/ArialMT/arialmt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArialMTRegulaItalic';
  src: url("../fonts/ArialMT/ARIALMTNARROWITALIC.TTF") format("truetype");
  font-weight: normal;
  font-style: italic;
}

body,
html {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style-type: none;
  /* Убираем маркеры */
}

ul {
  margin-left: 0;
  /* Отступ слева в браузере IE и Opera */
  padding-left: 0;
  /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.mobile {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

@media screen and (max-width: 750px) {
  .mobile {
    display: block;
  }
}

.mobile__icon {
  width: 33px;
  height: 18px;
  position: relative;
  z-index: 1000;
  top: 29px;
  left: 29px;
  cursor: pointer;
  -webkit-transition: left 0.2s ease-in;
  transition: left 0.2s ease-in;
}

.mobile__icon::before {
  content: "";
  display: block;
  width: 33px;
  height: 3px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1100;
  background-color: #f1cdb3;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.mobile__icon::after {
  content: "";
  display: block;
  width: 33px;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1100;
  background-color: #f1cdb3;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.mobile__icon-active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
}

.mobile__icon-active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
}

.mobile__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: -330px;
  width: 320px;
  height: 100vh;
  background: linear-gradient(45deg, #392c25, #221e1f);
  opacity: 0.96;
  -webkit-box-shadow: 0px 0px 53px -20px #392c25;
          box-shadow: 0px 0px 53px -20px #392c25;
  -webkit-transition: left 0.2s ease-in;
  transition: left 0.2s ease-in;
}

.mobile__body-active {
  left: 0;
}

.mobile__logo {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 53px;
  text-align: center;
}

.mobile__nav-list {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.mobile__nav-item {
  margin-bottom: 12px;
}

.mobile__nav-link {
  position: relative;
  font-size: 15px;
  font-family: "ArialMTRegula";
  line-height: 29px;
  font-weight: 400;
  color: #cdcdcd;
}

.conteiner {
  max-width: 1300px;
  height: 10px;
  margin: 0 auto;
  padding: 0 50px;
}

.first-screen {
  width: 100%;
  height: 100vh;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 10%;
  padding: 30px 0;
}

@media screen and (max-width: 1500px) {
  .first-screen {
    background-position: 60% 10%;
  }
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 750px) {
  .header {
    display: none;
  }
}

.header__logo-tittle {
  font-family: "Georgia";
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

@media screen and (max-width: 1400px) {
  .header__logo-tittle {
    font-size: 30px;
  }
}

@media screen and (max-width: 1000px) {
  .header__logo-tittle {
    font-size: 27px;
  }
}

.header__logo-subtittle {
  font-family: "ArialMTRegula";
  font-size: 20px;
  line-height: 29px;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #ffffff;
}

@media screen and (max-width: 1400px) {
  .header__logo-subtittle {
    font-size: 13px;
  }
}

@media screen and (max-width: 1000px) {
  .header__logo-subtittle {
    font-size: 12px;
  }
}

.header__nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-item {
  margin-right: 40px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-link {
  position: relative;
  font-size: 20px;
  font-family: "ArialMTRegula";
  line-height: 29px;
  font-weight: 400;
  color: #cdcdcd;
}

@media screen and (max-width: 1400px) {
  .header__nav-link {
    font-size: 18px;
  }
}

@media screen and (max-width: 1000px) {
  .header__nav-link {
    font-size: 15px;
  }
}

.header__nav-link::after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #f1cdb3;
  content: "";
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

a:hover:after,
a:focus:after {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */